.App {
  text-align: center;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: rgb(110, 22, 22);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
